# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# DATABASE_URL="prisma://accelerate.prisma-data.net/?api_key=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhcGlfa2V5IjoiZDBmMzIxOGEtOGQ1Zi00ODM2LWEyMjYtOWEyZGEwZmUxZjhjIiwidGVuYW50X2lkIjoiOTBhMmQ4MTk1NGQyMWJiZjY0MjdjNmY1ZWM1MjMzOGRjZWU3NDYzMzA2ODA3YWU4NTIxNzU3ZGIzZDIzYmEyYSIsImludGVybmFsX3NlY3JldCI6IjA2NWQyYTAwLWMxNDYtNGMyZS1hY2MyLWI3NTgxODYyMzA5ZSJ9.RhRxacUNSh5ks0BAiTHsqqeZmoWjhz_ZKD90g_1vo88"
DIRECT_URL=your_dDATABASE_URLirect_url_here 
DATABASE_URL=your_database_url_here 


